Projects/node_red_flow_xiaomi_bedside_lamp.txt
[{"id":"f844f25.da5ea1","type":"yeelight-compat-hue-out","z":"d572d1f6.4311f","name":"Bedside Lamp","server":"237ea9d4.459ba6","x":894,"y":638,"wires":[]},{"id":"80d214b8.f5f468","type":"ui_switch","z":"d572d1f6.4311f","name":"Switch","label":"SWITCH","group":"9b01f864.6330e8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"on\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"on\":false}","offvalueType":"json","officon":"","offcolor":"","x":363,"y":616,"wires":[["f844f25.da5ea1"]]},{"id":"d6d97d2b.c341a","type":"ui_dropdown","z":"d572d1f6.4311f","name":"Select Color","label":"SELECT COLOR","place":"CHOOSE","group":"9b01f864.6330e8","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"#FF0000","type":"str"},{"label":"GREEN","value":"#00FF00","type":"str"},{"label":"BLUE","value":"#0000FF","type":"str"},{"label":"WHITE","value":"#FFFFFF","type":"str"},{"label":"CYAN","value":"#00FFFF","type":"str"},{"label":"PURPLE","value":"#FF00FF","type":"str"},{"label":"YELLOW","value":"#FFFF00","type":"str"}],"payload":"","topic":"","x":331,"y":571,"wires":[["2761b16e.9fe9fe"]]},{"id":"7a5dec50.7d8b94","type":"ui_slider","z":"d572d1f6.4311f","name":"Set Saturation","label":"SET SATURATION","group":"9b01f864.6330e8","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"255","step":"10","x":341,"y":713,"wires":[["db85f21.1a35d1"]]},{"id":"1baa8713.03abd9","type":"ui_slider","z":"d572d1f6.4311f","name":"Set Brightness","label":"SET BRIGHTNESS","group":"9b01f864.6330e8","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"255","step":"10","x":341,"y":662,"wires":[["eb58adc4.a0636"]]},{"id":"ed4122dc.2c625","type":"ui_colour_picker","z":"d572d1f6.4311f","name":"Color Picker","label":"COLOR PICKER","group":"9b01f864.6330e8","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":true,"showLightness":true,"order":1,"width":0,"height":0,"passthru":true,"topic":"","x":331,"y":526,"wires":[["2761b16e.9fe9fe"]]},{"id":"eb58adc4.a0636","type":"function","z":"d572d1f6.4311f","name":"Format Brightness","func":"msg.payload='{\"on\": true,\"bri\":' + msg.payload + '}' ;\nreturn msg;","outputs":1,"noerr":0,"x":539.5,"y":662,"wires":[["f844f25.da5ea1"]]},{"id":"2761b16e.9fe9fe","type":"function","z":"d572d1f6.4311f","name":"Format Color","func":"msg.payload='{\"on\": true, \"hex\": \"' + msg.payload + '\", \"sat\":0}' ;\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":548,"wires":[["f844f25.da5ea1"]]},{"id":"db85f21.1a35d1","type":"function","z":"d572d1f6.4311f","name":"Format Saturation","func":"msg.payload='{\"on\": true, \"sat\":' + msg.payload + '}' ;\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":713,"wires":[["f844f25.da5ea1"]]},{"id":"78093c3a.d82704","type":"ui_button","z":"d572d1f6.4311f","name":"Turn Off After 15 Minutes","group":"9b01f864.6330e8","order":0,"width":0,"height":0,"passthru":false,"label":"Turn Off After 15 Minutes","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":367.5,"y":860,"wires":[["2b019084.cf013"]]},{"id":"2b019084.cf013","type":"delay","z":"d572d1f6.4311f","name":"Delay 15 Minutes","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":567.5,"y":919,"wires":[["6927e166.8284b"]]},{"id":"6927e166.8284b","type":"function","z":"d572d1f6.4311f","name":"Format Off","func":"msg.payload='{\"on\": false}' ;\nreturn msg;","outputs":1,"noerr":0,"x":717,"y":857,"wires":[["f844f25.da5ea1"]]},{"id":"f22e046f.728498","type":"function","z":"d572d1f6.4311f","name":"Format Temperature","func":"msg.payload='{\"on\": true, \"ct\":' + msg.payload + '}' ;\nreturn msg;","outputs":1,"noerr":0,"x":566,"y":766,"wires":[["f844f25.da5ea1"]]},{"id":"81d5cc48.f8ad4","type":"ui_slider","z":"d572d1f6.4311f","name":"Set Temperature","label":"SET TEMPERATURE","group":"9b01f864.6330e8","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":"1700","max":"6500","step":"100","x":349,"y":766,"wires":[["f22e046f.728498"]]},{"id":"41a3069c.bd19b8","type":"ui_slider","z":"d572d1f6.4311f","name":"Set Hue","label":"SET HUE","group":"9b01f864.6330e8","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"65535","step":"2000","x":317,"y":813,"wires":[["faa40689.469be8"]]},{"id":"faa40689.469be8","type":"function","z":"d572d1f6.4311f","name":"Format Temperature","func":"msg.payload='{\"on\": true, \"hue\":' + msg.payload + '}' ;\nreturn msg;","outputs":1,"noerr":0,"x":564,"y":813,"wires":[["f844f25.da5ea1"]]},{"id":"237ea9d4.459ba6","type":"yeelight-compat-hue-config","z":"","hostname":"","port":"55443","name":""},{"id":"9b01f864.6330e8","type":"ui_group","z":"","name":"Bedside Lamp","tab":"2a3e2cf1.682064","order":1,"disp":true,"width":"6"},{"id":"2a3e2cf1.682064","type":"ui_tab","z":"","name":"Office","icon":"dashboard","order":1}]
