Projects/Node-RED_Yeelight_flow.txt
[{"id":"7d7a3995.ec2dd8","type":"yeelight","z":"9ab6b4a8.2c4868","name":"Set RGB Color","command":"set_rgb","config":"","x":630,"y":276,"wires":[[]]},{"id":"3c564086.9ea28","type":"ui_colour_picker","z":"9ab6b4a8.2c4868","name":"Color Picker","label":"COLOR PICKER","group":"b241d9c.2edb828","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":true,"showLightness":true,"order":1,"width":0,"height":0,"passthru":true,"topic":"","x":268,"y":277,"wires":[["972d4273.0da35"]]},{"id":"972d4273.0da35","type":"function","z":"9ab6b4a8.2c4868","name":"Format Color","func":"msg.payload = msg.payload.replace(/[#]/g,\"0x\");\nreturn msg;\n","outputs":1,"noerr":0,"x":426,"y":277,"wires":[["7d7a3995.ec2dd8"]]},{"id":"9d196b8e.33d8e8","type":"yeelight","z":"9ab6b4a8.2c4868","name":"Set Temperature","command":"set_ct_abx","config":"","x":574,"y":368,"wires":[[]]},{"id":"46f0f512.a7a48c","type":"yeelight","z":"9ab6b4a8.2c4868","name":"Toggle","command":"toggle","config":"","x":542,"y":461,"wires":[[]]},{"id":"a3426706.b31c98","type":"ui_button","z":"9ab6b4a8.2c4868","name":"Toggle","group":"b241d9c.2edb828","order":5,"width":0,"height":0,"passthru":false,"label":"TOGGLE","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":249,"y":461,"wires":[["46f0f512.a7a48c"]]},{"id":"ebba25e0.1bc2b8","type":"ui_slider","z":"9ab6b4a8.2c4868","name":"Set Temperature","label":"SET TEMPERATURE","group":"b241d9c.2edb828","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":"1700","max":"6500","step":"10","x":288,"y":368,"wires":[["9d196b8e.33d8e8"]]},{"id":"9ec833f8.3037b","type":"ui_slider","z":"9ab6b4a8.2c4868","name":"Set Brightness","label":"SET BRIGHTNESS","group":"b241d9c.2edb828","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"1","max":"100","step":1,"x":279,"y":325,"wires":[["c6f2b2d3.79e98"]]},{"id":"c6f2b2d3.79e98","type":"yeelight","z":"9ab6b4a8.2c4868","name":"Set Brightness","command":"set_bright","config":"","x":565,"y":325,"wires":[[]]},{"id":"a364fd38.4f744","type":"yeelight","z":"9ab6b4a8.2c4868","name":"Set RGB Color","command":"set_rgb","config":"","x":574,"y":413,"wires":[[]]},{"id":"950f903b.e8a9d","type":"ui_dropdown","z":"9ab6b4a8.2c4868","name":"Select Color","label":"SELECT COLOR","place":"CHOOSE","group":"b241d9c.2edb828","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"0xFF0000","type":"str"},{"label":"GREEN","value":"0x00FF00","type":"str"},{"label":"BLUE","value":"0x0000FF","type":"str"},{"label":"WHITE","value":"0xFFFFFF","type":"str"},{"label":"CYAN","value":"0x00FFFF","type":"str"},{"label":"PURPLE","value":"0xFF00FF","type":"str"},{"label":"YELLOW","value":"0xFFFF00","type":"str"}],"payload":"","topic":"","x":270,"y":413,"wires":[["a364fd38.4f744"]]},{"id":"b241d9c.2edb828","type":"ui_group","z":"","name":"Yeelight Smart Bulb","tab":"aa146f4d.b53ca","order":1,"disp":true,"width":"6"},{"id":"aa146f4d.b53ca","type":"ui_tab","z":"","name":"Office","icon":"dashboard","order":1}]
