Projects/node_red_flow_xiaomi_bedside_lamp.txt
[{"id":"80753a3.2e777c8","type":"yeelight-compat-hue-out","z":"122cd692.29e789","name":"Bedside Lamp","server":"86282b38.922028","x":1003,"y":739,"wires":[]},{"id":"3509bc54.0de0c4","type":"ui_switch","z":"122cd692.29e789","name":"Switch","label":"SWITCH","group":"9b01f864.6330e8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"on\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"on\":false}","offvalueType":"json","officon":"","offcolor":"","x":469,"y":723,"wires":[["80753a3.2e777c8"]]},{"id":"966e85fc.d0da38","type":"ui_dropdown","z":"122cd692.29e789","name":"Select Color","label":"SELECT COLOR","place":"CHOOSE","group":"9b01f864.6330e8","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"#FF0000","type":"str"},{"label":"GREEN","value":"#00FF00","type":"str"},{"label":"BLUE","value":"#0000FF","type":"str"},{"label":"WHITE","value":"#FFFFFF","type":"str"},{"label":"CYAN","value":"#00FFFF","type":"str"},{"label":"PURPLE","value":"#FF00FF","type":"str"},{"label":"YELLOW","value":"#FFFF00","type":"str"}],"payload":"","topic":"","x":437,"y":678,"wires":[["d1826107.80139"]]},{"id":"f8786255.83716","type":"ui_slider","z":"122cd692.29e789","name":"Set Saturation","label":"SET SATURATION","group":"9b01f864.6330e8","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"255","step":"10","x":447,"y":820,"wires":[["aa3c3eca.4bb4d"]]},{"id":"779adc74.6b9724","type":"ui_slider","z":"122cd692.29e789","name":"Set Brightness","label":"SET BRIGHTNESS","group":"9b01f864.6330e8","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"255","step":"10","x":447,"y":769,"wires":[["6e0d17.367392e8"]]},{"id":"edbdbce7.31587","type":"ui_colour_picker","z":"122cd692.29e789","name":"Color Picker","label":"COLOR PICKER","group":"9b01f864.6330e8","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":true,"showLightness":true,"order":1,"width":0,"height":0,"passthru":true,"topic":"","x":437,"y":633,"wires":[["d1826107.80139"]]},{"id":"6e0d17.367392e8","type":"function","z":"122cd692.29e789","name":"Format Brightness","func":"msg.payload='{\"on\": true,\"bri\":' + msg.payload + '}' ;\nreturn msg;","outputs":1,"noerr":0,"x":645.5,"y":769,"wires":[["80753a3.2e777c8"]]},{"id":"d1826107.80139","type":"function","z":"122cd692.29e789","name":"Format Color","func":"msg.payload='{\"on\": true, \"hex\": \"' + msg.payload + '\", \"sat\":0}' ;\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":655,"wires":[["80753a3.2e777c8"]]},{"id":"aa3c3eca.4bb4d","type":"function","z":"122cd692.29e789","name":"Format Saturation","func":"msg.payload='{\"on\": true, \"sat\":' + msg.payload + '}' ;\nreturn msg;","outputs":1,"noerr":0,"x":643,"y":820,"wires":[["80753a3.2e777c8"]]},{"id":"30db100e.fe43e","type":"ui_button","z":"122cd692.29e789","name":"Turn Off After 15 Minutes","group":"9b01f864.6330e8","order":0,"width":0,"height":0,"passthru":false,"label":"Turn Off After 15 Minutes","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":473.5,"y":967,"wires":[["af0939e6.fb9e48"]]},{"id":"af0939e6.fb9e48","type":"delay","z":"122cd692.29e789","name":"Delay 15 Minutes","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":673.5,"y":1026,"wires":[["68787da8.cc7da4"]]},{"id":"68787da8.cc7da4","type":"function","z":"122cd692.29e789","name":"Format Off","func":"msg.payload='{\"on\": false}' ;\nreturn msg;","outputs":1,"noerr":0,"x":823,"y":964,"wires":[["80753a3.2e777c8"]]},{"id":"33648524.5e479a","type":"function","z":"122cd692.29e789","name":"Format Temperature","func":"msg.payload='{\"on\": true, \"ct\":' + msg.payload + '}' ;\nreturn msg;","outputs":1,"noerr":0,"x":672,"y":873,"wires":[["80753a3.2e777c8"]]},{"id":"e902669d.4350c8","type":"ui_slider","z":"122cd692.29e789","name":"Set Temperature","label":"SET TEMPERATURE","group":"9b01f864.6330e8","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":"1700","max":"6500","step":"100","x":455,"y":873,"wires":[["33648524.5e479a"]]},{"id":"4f8c3bc2.5b2d24","type":"ui_slider","z":"122cd692.29e789","name":"Set Hue","label":"SET HUE","group":"9b01f864.6330e8","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"65535","step":"2000","x":423,"y":920,"wires":[["79ba8611.335ba8"]]},{"id":"79ba8611.335ba8","type":"function","z":"122cd692.29e789","name":"Format Temperature","func":"msg.payload='{\"on\": true, \"hue\":' + msg.payload + '}' ;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":920,"wires":[["80753a3.2e777c8"]]},{"id":"86282b38.922028","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.133","port":"55443","name":""},{"id":"9b01f864.6330e8","type":"ui_group","z":"","name":"Bedside Lamp","tab":"2a3e2cf1.682064","order":1,"disp":true,"width":"6"},{"id":"2a3e2cf1.682064","type":"ui_tab","z":"","name":"Office","icon":"dashboard","order":1}]
