Projects/Node-RED_Neopixel_flow.txt
[{"id":"e73e10de.8132a","type":"ui_colour_picker","z":"6fc23f0c.b8ea3","name":"Color Picker","label":"COLOR PICKER","group":"cd687a95.00e108","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"order":1,"width":0,"height":0,"passthru":true,"topic":"","x":226,"y":364,"wires":[["a0fb6f8b.07d5d"]]},{"id":"a0fb6f8b.07d5d","type":"function","z":"6fc23f0c.b8ea3","name":"Set Color","func":"var count = global.get('count')||0;\nmsg.payload = msg.payload.replace(/[rgb()\\s]/g,\"\");\nif(count===0){\n    msg.payload = msg.payload;\n}\nelse{\n    msg.payload = (count-1) + \",\" + msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":364,"wires":[["27c7158f.cd31aa"]]},{"id":"98e5af9c.05767","type":"ui_numeric","z":"6fc23f0c.b8ea3","name":"Select LED","label":"LED SELECTED","group":"cd687a95.00e108","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"14","step":1,"x":230,"y":307,"wires":[["9f81bb42.a99018","d3161fac.4d7e2"]]},{"id":"9f81bb42.a99018","type":"function","z":"6fc23f0c.b8ea3","name":"Selected LED","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = global.get('count')||0;\n\n// store the value back\nglobal.set('count',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":267,"wires":[[]]},{"id":"ce779701.8bdfb8","type":"ui_button","z":"6fc23f0c.b8ea3","name":"Clear","group":"cd687a95.00e108","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","color":"","bgcolor":"","icon":"","payload":"0,0,0","payloadType":"str","topic":"","x":207,"y":479,"wires":[["27c7158f.cd31aa"]]},{"id":"d3161fac.4d7e2","type":"ui_slider","z":"6fc23f0c.b8ea3","name":"Select LED","label":"SELECT LED","group":"cd687a95.00e108","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"14","step":1,"x":230,"y":227,"wires":[["9f81bb42.a99018","98e5af9c.05767"]]},{"id":"f00551de.ffa61","type":"ui_dropdown","z":"6fc23f0c.b8ea3","name":"Select Strip Color","label":"SELECT STRIP COLOR","place":"SELECT STRIP COLOR","group":"cd687a95.00e108","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"255,0,0","type":"str"},{"label":"GREEN","value":"0,255,0","type":"str"},{"label":"BLUE","value":"0,0,255","type":"str"},{"label":"WHITE","value":"255,255,255","type":"str"},{"label":"PURPLE","value":"255,0,255","type":"str"},{"label":"CYAN","value":"0,255,255","type":"str"},{"label":"YELLOW","value":"255,255,0","type":"str"}],"payload":"","topic":"","x":243,"y":420,"wires":[["27c7158f.cd31aa"]]},{"id":"146467d5.b13ed8","type":"function","z":"6fc23f0c.b8ea3","name":"Rainbow Effect","func":"var numberOfLEDs = 14;\n\nfor(i=0; i<255; i++){\n    \n    for(j=0; j<numberOfLEDs; j++){\n        \n        var pos = 0;\n        pos = Math.round(((j*255/numberOfLEDs)+i))&255;\n        \n        if(pos<85){\n            var red = pos*3;\n            var green = 255-pos*3;\n            var blue = 0;\n        }\n        else if(pos < 170){\n            pos -= 85;\n            var red = 255 - pos*3;\n            var green = 0;\n            var blue = pos*3;\n        }\n        else{\n            pos -= 170;\n            var red = 0;\n            var green = pos*3;\n            var blue = 255-pos*3;\n        }\n        var setColor = j+','+ red +','+ green +','+ blue;\n        node.send({payload:setColor});\n    }\n}","outputs":1,"noerr":0,"x":358,"y":589,"wires":[["5aacb725.8c6388"]]},{"id":"df67bbe2.18c038","type":"ui_button","z":"6fc23f0c.b8ea3","name":"Rainbow Effect","group":"cd687a95.00e108","order":5,"width":0,"height":0,"passthru":false,"label":"START RAINBOW EFFECT","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":196,"y":538,"wires":[["146467d5.b13ed8"]]},{"id":"5aacb725.8c6388","type":"delay","z":"6fc23f0c.b8ea3","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":511,"y":530,"wires":[["27c7158f.cd31aa"]]},{"id":"27c7158f.cd31aa","type":"rpi-neopixels","z":"6fc23f0c.b8ea3","name":"WS2812B LED STRIP","pixels":"14","bgnd":"","fgnd":"","wipe":"60","mode":"pixels","rgb":"rgb","x":596.5,"y":454,"wires":[]},{"id":"cd687a95.00e108","type":"ui_group","z":"","name":"WS2812B LED STRIP","tab":"aa146f4d.b53ca","order":1,"disp":true,"width":"6"},{"id":"aa146f4d.b53ca","type":"ui_tab","z":"","name":"Lab","icon":"dashboard","order":1}]
