Projects/ESP8266-HLK/NodeRED_Motion_Datalogger.txt
[{"id":"e3d8dbbb.ff7378","type":"mqtt in","z":"c02b79b2.501998","name":"","topic":"esp/pir","qos":"2","broker":"10e78a89.5b4fd5","x":430,"y":880,"wires":[["acb418d3.454e58"]]},{"id":"acb418d3.454e58","type":"function","z":"c02b79b2.501998","name":"Get date and time","func":"var date = new Date();\n\nvar hour = date.getHours();\nvar minute = date.getMinutes();\nvar second = date.getSeconds();\nvar day = date.getDate();\nvar month = date.getMonth() + 1;\nvar year = date.getFullYear();\n\nvar fullDate = \"[Time: \" + hour + \":\" + minute + \":\" + second + \n    \" - Date: \" + day + \"/\" + month  + \"/\" +  year + \"]<br>\";\n            \nmsg.payload = fullDate;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":880,"wires":[["77c75d2.c8d70a4","55b57c06.4f9794"]]},{"id":"55b57c06.4f9794","type":"ui_text","z":"c02b79b2.501998","group":"3c681396.c1b84c","order":1,"width":0,"height":0,"name":"","label":"Last Motion Detected","format":"{{msg.payload}}","layout":"col-center","x":900,"y":840,"wires":[]},{"id":"77c75d2.c8d70a4","type":"file","z":"c02b79b2.501998","name":"","filename":"motion_sensor_log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":900,"y":920,"wires":[[]]},{"id":"e3b2d7d4.4a0a78","type":"file in","z":"c02b79b2.501998","name":"","filename":"motion_sensor_log.txt","format":"utf8","chunk":false,"sendError":false,"x":620,"y":640,"wires":[["1152035e.bdeb3d"]]},{"id":"4aad8e9f.69733","type":"ui_button","z":"c02b79b2.501998","name":"","group":"3c681396.c1b84c","order":2,"width":0,"height":0,"passthru":false,"label":"CLEAR LOG","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"str","topic":"","x":370,"y":760,"wires":[["e0e81f74.50252","60572e5d.5fa4"]]},{"id":"e0e81f74.50252","type":"file","z":"c02b79b2.501998","name":"","filename":"motion_sensor_log.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":600,"y":720,"wires":[[]]},{"id":"60572e5d.5fa4","type":"function","z":"c02b79b2.501998","name":"Delete message","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":800,"wires":[["55b57c06.4f9794","1152035e.bdeb3d"]]},{"id":"1152035e.bdeb3d","type":"ui_template","z":"c02b79b2.501998","group":"3c681396.c1b84c","name":"Motion Detection Log","order":4,"width":0,"height":0,"format":"<br><strong>Motion Detection Log</strong><br>\n<div ng-bind-html=\"msg.payload\" style=\"height:140px !important;\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":900,"y":700,"wires":[[]]},{"id":"f8593821.d6db28","type":"ui_button","z":"c02b79b2.501998","name":"","group":"3c681396.c1b84c","order":3,"width":0,"height":0,"passthru":false,"label":"REFRESH LOG","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":640,"wires":[["e3b2d7d4.4a0a78"]]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3c681396.c1b84c","type":"ui_group","z":"","name":"Main","tab":"715eed72.7b6be4","order":1,"disp":true,"width":"6","collapse":false},{"id":"715eed72.7b6be4","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]
