Projects/ESPEasy/Sonoff_and_Node_RED.txt
[{"id":"7d1b5d27.edb2a4","type":"http request","z":"edbc86db.6e9fb8","name":"HTTP GET On","method":"GET","ret":"txt","url":"192.168.1.113/control?cmd=GPIO,12,1","tls":"","x":887.5,"y":328,"wires":[[]]},{"id":"394ffaed.da53a6","type":"ui_switch","z":"edbc86db.6e9fb8","name":"SONOFF Switch","label":"SONOFF Switch","group":"12bfe4c6.75164b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":498,"y":367,"wires":[["c7dd35a9.81d208"]]},{"id":"c7dd35a9.81d208","type":"switch","z":"edbc86db.6e9fb8","name":"Switch On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","outputs":2,"x":683,"y":367,"wires":[["7d1b5d27.edb2a4"],["25b13354.e4769c"]]},{"id":"25b13354.e4769c","type":"http request","z":"edbc86db.6e9fb8","name":"HTTP GET Off","method":"GET","ret":"txt","url":"192.168.1.113/control?cmd=GPIO,12,0","tls":"","x":886,"y":403,"wires":[[]]},{"id":"12bfe4c6.75164b","type":"ui_group","z":"","name":"Outputs","tab":"e79509a5.8550c8","order":1,"disp":true,"width":"6"},{"id":"e79509a5.8550c8","type":"ui_tab","z":"","name":"Office","icon":"dashboard","order":1}]
